/*Mod principales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 'PT Serif';
    width: auto;
    height: auto;
    background-color: white;
}

.box_total {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;  
    height: auto;      
    width: 100%;
    padding: 20px 40px; 
    margin: 40px 0;   
}

.box_total .container {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.box_total .login-content img {
    display: block;
    margin: 0 auto 20px;
    width: 80px;
    height: auto;
}

input {
    margin: 8px;
    padding: 2px;
}
